{% extends "base.html" %}

{% block title %}AChecker GUI{% endblock %}

{% block content %}
    <form id="upload-form" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <div class="buttons">
            <span class="comic-button upload-button">
                Upload
                <input type="file" name="file" id="file-input">
            </span>
            <button type="submit" id="analyze-button" class="comic-button">Analyze</button>
        </div>
        <p id="file-name" class="file-name"></p>
    </form>

    <div id="output-box">
        <h2>Results:</h2>
        <div id="results">{% include "_results.html" %}</div>
        <div id="loader" class="loader" hidden></div>
    </div>

    <div class="view-uploads">
        <a href="{{ url_for('view_uploads') }}" class="comic-button view-button">View Uploaded Files</a>
    </div>
{% endblock %}
